{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static 'css/base/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{%  static 'images/whitelogo.png' %}">
    {% block link_styles %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="h-logo">
                <a href="" class="h-logo-link">
                    <img src="{%  static 'images/whitelogo.png' %}" alt="">
                </a>
            </div>
            <div class="h-navbar">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'tasks' %}">Задачи</a>
                <a href="{% url 'timetable' %}">Расписание</a>
                <a href="{% url 'scripts' %}">Скрипты</a>
                <a href="{% url 'payment' %}">Оплата</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>